MONGODB_URI=mongodb://username:password@0.0.0.0:27017/compoder?authSource=admin
DB_MAX_LINK=5
NEXTAUTH_SECRET=K7mN9pQ2rS5tU8vW1xY4zA6bC3dE7fG0hJ9kL2nO5qR8sT1uV4wX7yZ0
GITHUB_ID=Ov23liUqov4myPlzjqVm
GITHUB_SECRET=32ae5d008313ff1c588e90950e65126174a953f4
